 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Rubik:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Rajdhani:wght@400;500;600;700&family=Rubik:wght@300;400;500;600&display=swap');


*{
  margin: 0;
    box-sizing: border-box;
  padding: 0;
}



.top-nav{
 display: grid;
 text-align: center;
 justify-content: center;

  grid-template-columns:30% 50% 20%;
 
}
.top-nav .comp-logo img{
  width: 180px;
  padding-top: 15px;
  margin-left: 0px;
}
.top-nav .homepage-logo img{
   
  width: 140px;
}

.homepage-slot .profile-container{
    width: 250px;
    margin-top: -15px;
   
    height: 250px;
    position: absolute;
    
    background-color: white;
   
}
.photo-container{
  margin-left: 0px;
}
.profile-container .photo-container img{
  height: 80px;
  width: 80px;
  margin-left: 25%;
  margin-top:20px ;
  border-radius:10px;
  margin:10px ;
     

}

.top-nav .homepage-title h1{
  color: #000000;
  font-size: 24px;
  font-family: 'Rajdhani',sans-serif;
  font-weight: bold;
  text-align: LEFT;
  margin-left: 100px;
  color: #ff0000;
  padding-top: 30px;

  

}

hr{
  color: #ff0000;
  height: 2px;
}
 

/* nav bar */


.navbar-section{
  display: grid;
  grid-template-columns: 80% 20%;
  

}
 

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
  opacity: 0;
  transition: 1s all;
}

.navbar {
  display: flex;
  align-items: center;
  width: 107%;

  background-color: #fff;
  margin-left: 100px;
  position: relative;

  background-color: #ff0000df;
}
.navbar-logo {
  color: #ff3f34;
  text-decoration: none;
  font-size: 25px;
  padding: 0px 20px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 700;
  transition: 0.4s all;
}

.navbar-links li a:hover {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-weight: 700;
    transition: 0.4s all;
  }

.navbar-links li.navbar-dropdown {
  position: relative;
}

.navbar-links li.navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.navbar-links li.navbar-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }


  .navbar-links li.navbar-dropdown:hover .dropdown1 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

  .navbar-links li.navbar-dropdown:hover .dropdown2 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

.navbar-links li.navbar-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 0px 0;
  top: 100%;
  transform: translateY(50px);
  left: 0;
  width: 120px;
  
  background-color: #ff3f34;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
}

.navbar-links li.navbar-dropdown .dropdown1 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20px 0;
    top: 100%;
    transform: translateY(50px);
    left: 0;
    width: 155px;
    
    background-color: #ff3f34;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 111;
    transition: 0.4s all;
  }

  .navbar-links li.navbar-dropdown .dropdown2 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20px 0;
    top: 100%;
    transform: translateY(50px);
    left: 0;
    width: 180px;
    
    background-color: #ff3f34;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 111;
    transition: 0.4s all;
  }


.navbar-links li.navbar-dropdown .dropdown a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
}
.navbar-links li.navbar-dropdown .dropdown1 a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
  }
  .navbar-links li.navbar-dropdown .dropdown2 a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
  }
.navbar-dropdown .dropdown a:hover {
  
  background-color: #fff;
  color: #ff3f34;
}
.navbar-dropdown .dropdown1 a:hover {
  
    background-color: #fff;
    color: #ff3f34;
  }
  .navbar-dropdown .dropdown2 a:hover {
  
    background-color: #fff;
    color: #ff3f34;
  }
.navbar-links li a:hover {
  color: #ff0000;
  background-color: #f9f9f9;
}

.toto2{
margin-left: 385px;
}

.header-inner {
  text-align: center;
  color: #ff3f34;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, .8);
}

.header-inner h1 {
  font-family: "Great Vibes", cursive;
  font-size: 130px;
}

.header-inner form input[type="search"] {
  position: relative;
  width: 500px;
  border: none;
  padding: 15px;
  border-radius: 27px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
  z-index: 11;
}
.header-inner form input[type="search"]:focus {
  outline: none;
}

.header-inner form input[type="search"]:focus + div {
  z-index: 1;
  opacity: 1;
}

::placeholder {
  color: #666;
  font-weight: 400;
}

/* body work */

.homepage-body{
  text-align:center;
}

.homepage-body img{
  width: 150px;
  margin-top: 50px;
}
.body-success-section{
  margin-left: -50px;
}

.body-success-section img{
 text-align: left;
  margin-top: 0px;
  margin-left: -250px;
  width: 350px;
}
.body-welcome-img img{
  width: 400px;
  height: 240px;
  margin-left: 150px;
  margin-top: 15%;
}

.body-qualify-section img{
  margin-left: -155px;
  width: 220px;
  margin-top: 40%;
}
.body-success-section h3{
  margin-top: 21%;
  position: absolute;
  color: #f9f9f9;
  font-size: 30px;
  font-family: 'Rajdhani',sans-serif;
}
.body-success-section p{
  margin-top: 17%;
  position: absolute;
  color: #ff0000;
  font-weight:bold ;
  margin-left: 40px;
  font-size: 30px;
  font-family: 'Rajdhani',sans-serif;
}

.body-success-section h4{
  margin-top: 9.5%;
  position: absolute;
  color: #ff0000;
  font-weight:bold ;
  margin-left: 160px;
  font-size: 30px;
  font-family: 'Rajdhani',sans-serif;
}

.body-success-section h2{
  margin-top: 13.5%;
  position: absolute;
  color: #fff;
  font-weight:bold ;
  margin-left: 90px;
  font-size: 30px;
  font-family: 'Rajdhani',sans-serif;
}

.homepage-body-top{
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3,1fr);
}

/* photo contaner */

.photo-navbar-links li.photo-navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}


.photo-navbar-links {
  position: absolute;
  list-style-type: none;
  display: flex;
}
.photo-navbar-links li a {
  display: block;
  margin-top: 35px;
  margin-left: 110px;
  text-decoration: none;
  background-color: none;
  color: #ff0000df;
 
  font-weight: 700;
  transition: 0.4s all;
}

.photo-navbar-links li a:hover {
    display: block;
    text-decoration: none;
    background-color: #fff;
    color: #ff3f34;
    
    
    font-weight: 700;
    transition: 0.4s all;
  }

.photo-navbar-links li.photo-navbar-dropdown {
  position: relative;
  text-align: left;
  
}

.photo-navbar-links li.photo-navbar-dropdown:hover .photo-dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.photo-navbar-links li.photo-navbar-dropdown:hover .photo-dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }


  .photo-navbar-links li.photo-navbar-dropdown:hover .dropdown1 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

  .photo-navbar-links li.photo-navbar-dropdown:hover .dropdown2 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

.photo-navbar-links li.photo-navbar-dropdown .photo-dropdown {
  visibility: hidden;
  opacity: 0;

  padding: 0px 0;

  transform: translateY(50px);
  left: 0;
  width: 109px;
  padding: 0;
 color: black;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
}


/* media query */
@media (max-width:1024px) {

 .top-nav .comp-logo img{
    width: 120px;
    margin-left: 50px;
    padding-top: 30px;

  }

.navbar {
  display: flex;
  align-items: center;
  width: 100%;

  background-color: #fff;
  
  position: relative;

  background-color: #ff0000df;
}
.navbar-logo {
  color: #ff3f34;
  text-decoration: none;
  font-size: 25px;
  padding: 0px 20px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 700;
  transition: 0.4s all;
}

.navbar-links li a:hover {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-weight: 700;
    transition: 0.4s all;
  }

.navbar-links li.navbar-dropdown {
  position: relative;
}

.navbar-links li.navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.navbar-links li.navbar-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }


  .navbar-links li.navbar-dropdown:hover .dropdown1 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

  .navbar-links li.navbar-dropdown:hover .dropdown2 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

.navbar-links li.navbar-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 0px 0;
  top: 100%;
  transform: translateY(50px);
  left: 0;
  width: 160px;
  
  background-color: #ff3f34;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
}

.navbar-links li.navbar-dropdown .dropdown1 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20px 0;
    top: 100%;
    transform: translateY(50px);
    left: 0;
    width: 155px;
    
    background-color: #ff3f34;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 111;
    transition: 0.4s all;
  }

  .navbar-links li.navbar-dropdown .dropdown2 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 10px 0;
    top: 100%;
    transform: translateY(50px);
    left: 0;
    width: 180px;
    
    background-color: #ff3f34;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 111;
    transition: 0.4s all;
  }


.navbar-links li.navbar-dropdown .dropdown a {
  
  font-weight: 400;
}
.navbar-links li.navbar-dropdown .dropdown1 a {
  
    font-weight: 400;
  }
  .navbar-links li.navbar-dropdown .dropdown2 a {
    
    font-weight: 400;
  }
.navbar-dropdown .dropdown a:hover {
  
  background-color: #fff;
  color: #ff3f34;
}
.navbar-dropdown .dropdown1 a:hover {
  
    background-color: #fff;
    color: #ff3f34;
  }
  .navbar-dropdown .dropdown2 a:hover {
  
    background-color: #fff;
    color: #ff3f34;
  }
.navbar-links li a:hover {
  color: #ff0000;
  background-color: #f9f9f9;
}

}